<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
</head>
<style>
.content{
    padding-top: 38px;
    width: 95%;
    margin: auto;
}
.my_table{
    border: 1px solid #ccc;
    width: 100%;
    background: #d8cac4;
}
    .my_table thead tr{
        height: 40px;
    }
    .my_table tbody tr td{
        text-align: center;
        border: 1px solid #fff;
    }
</style>
<body>
<div class="content">
    <table class="my_table">
        <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价</th>
            <th>成本单价</th>
            <th>成本总价</th>
            <th>是否到账</th>
            <th>交易时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>10001</td>
            <td>卫衣</td>
            <td>60.00（元）</td>
            <td>30(件)</td>
            <td>1800.00（元）</td>
            <td>50.00（元）</td>
            <td>1500.00（元）</td>
            <td>已到账</td>
            <td>2019-12-13 12:23</td>
        </tr>
        <tr>
            <td>10001</td>
            <td>卫衣</td>
            <td>60.00（元）</td>
            <td>30(件)</td>
            <td>1800.00（元）</td>
            <td>50.00（元）</td>
            <td>1500.00（元）</td>
            <td>已到账</td>
            <td>2019-12-13 12:23</td>
        </tr>
        <tr>
            <td>10001</td>
            <td>卫衣</td>
            <td>60.00（元）</td>
            <td>30(件)</td>
            <td>1800.00（元）</td>
            <td>50.00（元）</td>
            <td>1500.00（元）</td>
            <td>已到账</td>
            <td>2019-12-13 12:23</td>
        </tr>
        <tr>
            <td>10001</td>
            <td>卫衣</td>
            <td>60.00（元）</td>
            <td>30(件)</td>
            <td>1800.00（元）</td>
            <td>50.00（元）</td>
            <td>1500.00（元）</td>
            <td>已到账</td>
            <td>2019-12-13 12:23</td>
        </tr>
        <tr>
            <td>10001</td>
            <td>卫衣</td>
            <td>60.00（元）</td>
            <td>30(件)</td>
            <td>1800.00（元）</td>
            <td>50.00（元）</td>
            <td>1500.00（元）</td>
            <td>已到账</td>
            <td>2019-12-13 12:23</td>
        </tr>
        <tr>
            <td>10001</td>
            <td>卫衣</td>
            <td>60.00（元）</td>
            <td>30(件)</td>
            <td>1800.00（元）</td>
            <td>50.00（元）</td>
            <td>1500.00（元）</td>
            <td>已到账</td>
            <td>2019-12-13 12:23</td>
        </tr>
        <tr>
            <td>10001</td>
            <td>卫衣</td>
            <td>60.00（元）</td>
            <td>30(件)</td>
            <td>1800.00（元）</td>
            <td>50.00（元）</td>
            <td>1500.00（元）</td>
            <td>已到账</td>
            <td>2019-12-13 12:23</td>
        </tr>
        </tbody>
    </table>
    <div><a href="toAdd" target="_parent">添加订单记录</a></div>
</div>

</body>
</html>